<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="/css/base.css" />
        <!-- THE STYLES BLOCK -->
        {% block styles %} {% endblock %}
    </head>
    <body>
        <!-- THE HEADER -->
        <header id="header">
            <!-- THE CONTAINER -->
            <div class="container">
                <!-- THE LOGO -->
                <section id="logo">
                    <h1>
                        <a href="/">
                            <i class="fa-brands fa-x-twitter mobile-enabled icon"></i>
                            <span class="desktop-enabled">Twitter</span>
                        </a>
                    </h1>
                </section>

                <!-- THE MENU -->
                <nav id="menu">
                    <a href="/timesheet">
                        <i class="fa-regular fa-calendar mobile-enabled icon"></i>
                        <span class="desktop-enabled">Timesheet</span>
                    </a>
                    <a href="/tweets">
                        <i class="fa-brands fa-square-twitter mobile-enabled icon"></i>
                        <span class="desktop-enabled">Posts</span>
                    </a>
                    <a href="/retweets">
                        <i class="fa-solid fa-retweet mobile-enabled icon"></i>
                        <span class="desktop-enabled">Posts</span>
                    </a>
                    <button onclick="handleLogin()">
                        <i class="fa-solid fa-arrow-right-to-bracket mobile-enabled icon"></i>
                        <span class="desktop-enabled">Login</span>
                    </button>
                </nav>
            </div>
        </header>

        <!-- THE IDENTIFIER -->
        <section id="identifier">
            <!-- THE CONTAINER -->
            <div class="container">
                <!-- THE INDICATOR -->
                <a href="https://twitter.com" id="indicator-link" target="_blank">
                    <h2 id="indicator" title="Indicator of the logged in instance.">X-AUTO DEFAULT</h2>
                </a>
            </div>
        </section>

        <!-- THE CONTENT -->
        <main id="content">
            <!-- THE CONTAINER -->
            <div class="container">
                <!-- THE CONTENT BLOCK -->
                {% block content %} {% endblock %}
            </div>
        </main>

        <!-- THE FOOTER -->
        <footer id="footer">
            <!-- THE CONTAINER -->
            <div class="container">
                <!-- THE COPYRIGHT -->
                <p id="copyright">Copyright (c) 2023 - <a href="mailto:ahmad@shahzad.dev">Ahmad Shahzad</a></p>
            </div>
        </footer>

        <!-- THE ERROR -->
        <div id="error-overlay" class="hidden"></div>
        <div id="error-modal" class="hidden">
            <h3 id="error-modal-heading"></h3>
            <p id="error-modal-message"></p>
            <pre id="error-modal-content"></pre>
            <button id="error-modal-close" onclick="closeError()">
                <i class="fa-regular fa-circle-xmark"></i>
            </button>
        </div>

        <!-- THE LOADING ANIMATION -->
        <div id="loading-overlay" class="hidden"></div>
        <div id="loading-icon" class="hidden"></div>

        <!-- THE SCRIPTS -->
        <script>
            let apiURL = '/api/v1';
            let apiMiscURL = `${apiURL}/misc`;
            let apiRetweetsURL = `${apiURL}/retweets`;

            let api = {
                misc: {
                    indicator: `${apiMiscURL}/indicator`,
                },
                retweets: {
                    get: {
                        all: `${apiRetweetsURL}/all`,
                        automated: `${apiRetweetsURL}/automated`,
                        scheduled: `${apiRetweetsURL}/scheduled`,
                    },
                    create: `${apiRetweetsURL}/create`,
                    update: `${apiRetweetsURL}/update`,
                    delete: `${apiRetweetsURL}/delete`,
                    publish: `${apiRetweetsURL}/publish`,
                    reOrder: `${apiRetweetsURL}/re-order`,
                },
            };
        </script>
        <script src="/js/base/handleLoadingAnimation.js"></script>
        <script src="/js/base/handleError.js"></script>
        <script src="/js/base/handleGetInput.js"></script>
        <script src="/js/base/handleIndicator.js"></script>

        <!-- THE SCRIPTS BLOCK -->
        {% block scripts %} {% endblock %}
    </body>
</html>
